<div fxLayout="column" layout-margin>
  <form name="dynamicInputForm" layout-margin>
    <div fxLayout="column">
      <div *ngFor="let paramArray of parameters; let i = index" flex="noshrink">
        <div ngSwitch="paramArray[1].inputClass">
          <div *ngSwitchCase="select">
            <!-- Dropdown -->
            <mat-form-field class="example-full-width margin-top" appearance="fill">
              <mat-label>{{paramArray[1].label}}</mat-label>
              <mat-select [placeholder]="paramArray[1].label" name="paramArray[1].name">
                <mat-option *ngFor="let item of paramArray[1].options" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="date">
            <!-- Date Picker -->
            <mat-form-field class="example-full-width margin-top" appearance="fill">
              <mat-label>{{paramArray[1].label}}</mat-label>
              <input matInput [matDatepicker]="picker" name="paramArray[1].name" [placeholder]="paramArray[1].label" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="boolean">
            <!-- Checkbox -->
            <div class="demo-full-width margin-top">
              <mat-checkbox name="paramArray[1].name">{{paramArray[1].label}}</mat-checkbox>
            </div>
          </div>
          <div *ngSwitchDefault>
            <!-- Standard Input -->
            <mat-form-field class="example-full-width margin-top" appearance="fill">
              <mat-label>{{paramArray[1].label}}</mat-label>
              <input matInput name="paramArray[1].name" [placeholder]="paramArray[1].label" id="paramArray[1].label"
                [type]="paramArray[1].inputClass" [(value)]="paramArray[1].currentValue"
                (change)="onChange($event.target.value, parameters[i][0])" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
